header {
    display: flex;
   justify-content: center;
}
main {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    border: 1px solid black; 
    border-radius: 5px;
    padding: 5pm;
}

a:hover {
    background: black;
    color: white;
}